:root {
    --primary-font: "PT Sans";
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #777777;
    --accent-color: #dcdcdc;
    --primary-text-color: #767676;
    --secondary-text-color: #ffffff;
    --accent-text-color: #444444;
}