.slider {
    max-width: 100%;
    position: relative;
    margin: auto;
    @media screen and (min-width: 1000px) {
        height: 400px;
    }
}
.slider__arrow {
    position: absolute;
    top: 50%;
    transition: transform 0.5s;
    width: 16px;
    &:hover {
        transform: scale(1.2);
    }
    @media screen and (min-width: 768px) {
        width: 34px;
    }
}
.slider__arrow_right {
    right: 10%;
    @media screen and (min-width: 1000px) {
        right: 20%;
    }
}
.slider__arrow_left {
    left: 10%;
    @media screen and (min-width: 1000px) {
        left: 20%;
    }
}
.slider__slide {
    object-fit: contain;
    width: 100%;
    @media screen and (min-width: 1000px) {
        object-fit: cover;
        height: 400px;
    }
    
}
